html,
body { height: 100%; }
main { min-height: 100%; }

.h-100 { height: 100vh!important; }
.h-50 { height: 50vh!important; }
.text-justify { text-align: justify; }

[class*="logo"] {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.logo {
    height: 30px; width: 50px;
}

.logo-XL {
    width: 100%; height: 25vh; /* 40vh */
    filter: drop-shadow(0 0 0.75rem cyan) drop-shadow(0 0 0.5rem cyan);
}

[class*="-presentation"] {
    background-position: center;
    background-size: cover;
}
[class*="-presentation"] > .filter {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.toSlide { width: fit-content; }
.toSlide > .card {
    width: 16rem;
    background-color: rgba(0,0,0,.03)!important;
}

/* Index */
.index-landing {
    background-image: url(../img/space.jpg);
    background-position: center;
    background-size: contain;
}


/* About */
.about-presentation {
    background-image: url(../img/time.png);
    filter: hue-rotate(4deg);
}
.about-presentation > .filter { background-color: #00e0ff54; }


/* Team */
.team-presentation {
    background-image: url(../img/steampunk.jpg);
    filter: hue-rotate(147deg);
}
.team-presentation > .filter { background-color: #ceff0030; }

.team-all .cards { overflow-y: auto; }
.team-all .cards .toSlide { width: fit-content; }
.team-all .cards .card .img { height: 200px; max-height: 200px; }


/* Donation */
.donation-presentation {
    background-image: url(../img/giveaway.jpg);
    filter: hue-rotate(292deg);
}
.donation-presentation > .filter { background-color: #8100ff54; }


/* Events */
.events-presentation {
    background-image: url(../img/events.jpg);
    filter: hue-rotate(156deg);
}
.events-presentation > .filter { background-color: #efff004d; }

.events-incomming {
    grid-template-columns: repeat(3, 1fr) 7vw;
    grid-template-areas:
        "a a a d"
        "b b b d"
        "c c c d";
}
.events-incomming > .card:nth-child(1) { grid-area: a; }
.events-incomming > .card:nth-child(2) { grid-area: b; }
.events-incomming > .card:nth-child(3) { grid-area: c; }
.events-incomming > .more { grid-area: d; }

.events-all .cards { overflow-y: auto; }
.events-all .cards .card .img { height: 200px; max-height: 200px; }
.events-all .cards .card .card-body > .card-text:nth-child(3) {
    max-height: 9rem;
    overflow-y: auto;
}


/* Responsive */
@media only screen and (min-width: 768px) {

main > div:not(.index-landing, .events-incomming) > *,
footer > * {
    width: 65vw;
    margin: auto;
}

.toSlide { flex-wrap: wrap; }
.toSlide > .card { width: 18rem!important; }

.about-what .toResponsive { 
    display: grid;
    grid-template-columns: auto 1fr;
 }
.about-what .card { width: 20vw; margin-bottom: 0!important; }
.about-who p:last-child { text-align: center!important; }

.events-incomming { grid-template-areas: "a b c d"; }
.events-what > p { text-align: center!important; }

}